/* Handle dark mode, since Notion is default in light mode */

.notion {
  color: white;
  caret-color: white;
}

.notion-image-caption {
  color: white;
}

.notion-hr {
  border-color: rgba(255, 255, 255, 0.25);
}

#nprogress .bar {
  height: 4px !important;
}
